<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elevate Data Access with Our Express.js QR Code Generator App: Effortlessly create dynamic QR codes, seamlessly integrating into your projects. Empower users, simplify information sharing, and enhance experiences with our user-friendly tool. Experience a smarter, faster, and dynamic QR solution. Explore the efficiency of QR technology on your terms. Try it now for innovation at your fingertips!</title>
    <link rel="shortcut icon" href="/public/QR_Code.png" type="image/x-icon">
    <link rel="stylesheet" href="index.css" />
    
</head>
<body>
    <h1>QR - Code Generator</h1>
    <div class="maindiv">
        <div>
            <form action="/yourqr" method="post">
                <label>Enter a text or URL</label><br>
            <input placeholder = "Enter here" type="text" name ="nametext"><br>
            <button type="submit">Generate QR-Code</button>
            </form>
        </div>
    </div>
</body>
</html>