<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elevate Data Access with Our Express.js QR Code Generator App: Effortlessly create dynamic QR codes, seamlessly integrating into your projects. Empower users, simplify information sharing, and enhance experiences with our user-friendly tool. Experience a smarter, faster, and dynamic QR solution. Explore the efficiency of QR technology on your terms. Try it now for innovation at your fingertips!</title>
    <link rel="shortcut icon" href="/public/qrfavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="qrcode.css">
</head>
<body>
    <h1>Scan</h1>
    <div class="qrmaindiv">
        <div class="qrdiv">
            <img src="<%= lakshmi %>" alt="..">
        </div>
        <p>Your QR-Code has been successfully generated <span>&#9989;</span></p>
        <button><a href="/">Back</a></button>
    </div>
</body>
</html>